.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10%;
  }
  
/* Estilo para el botón "Terminar compra" */
.button-terminar-compra {
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 6px 10px; /* Espaciado interno (ajusta según tus necesidades) */
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    transition: transform 0.2s;
}
  
  /* Estilo para cuando se pasa el ratón sobre el botón */
  .button-terminar-compra:hover {
    transform: scale(1.1); /* Cambia el color de fondo al pasar el ratón */
  }