.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los productos */
    margin-top: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(25% - 20px); /* Para que haya 4 productos por fila */
    box-sizing: border-box;
    position: relative;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .edit-button,
  .delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: #0056b3;
  }

  .container {
    background-color: #a5a2a2; /* Cambia el color a gris claro como desees */
    padding: 80px; /* Añade espacio de relleno para mejorar la apariencia */
  }