/* Estilo para el logotipo en la barra de navegación */
.navbar-logo {
  font-size: 24px; /* Tamaño de fuente personalizado */
  margin: 50px 30px 20px 95px;
}

/* Estilo para el formulario de búsqueda en la barra de navegación */
.navbar-search {
  display: flex;
  align-items: center;
}

/* Ajusta el ancho de la barra de búsqueda */
.navbar-search input[type="text"] {
  width: 350px; /* Ajusta el valor según tus preferencias */
 
}

/* Estilo para el botón de búsqueda en el formulario */
.navbar-search button {
  margin-left: -15px; /* Espacio entre el campo de entrada y el botón */
  background-color: #007BFF; /* Fondo azul */
  color: #fff; /* Texto blanco */
  border-top-left-radius: 0; /* Bordes superiores izquierdos rectos */
  border-bottom-left-radius: 0; /* Bordes inferiores izquierdos rectos */
  
}

/* Estilo para el contenedor del usuario en la barra de navegación */
.navbar-user {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px 10px 10px 10px;
}

/* Espacio entre elementos en el contenedor del usuario */
.navbar-user span {
  margin-right: 20px; /* Espacio entre elementos de texto */
}



