.container2 {
  border: 3px solid #ccc; /* Agrega un borde a las tarjetas */
  border-radius: 10px; /* Hace que los bordes sean redondeados */
  padding: 20px; /* Agrega espaciado interno para el contenido */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  background-color: #fff; /* Define el color de fondo de las tarjetas */
  margin: 50px; /* Agrega un margen entre las tarjetas */
  max-width: 100%; /* Establece el ancho máximo de la tarjeta */
  max-height: 80%;
}
.card-title3 {
  font-size: 60px;
  margin-top: 40px;
  margin-left: 17%;
}
.card-text31 {
  font-size: 20px;
  text-align: left;
  margin-top: -260px;
  margin-left: 36%;
  
}
.card-text32 {
  font-size: 26px;
  text-align: left;
  margin-top: 0%;
  margin-left: 36%;
  color: green
  
}
.card-text33 {
  font-size: 20px;
  text-align: left;
  margin-left: 36%;
  color:black
  
}

.product-image3 {
  margin-left: -1000px;
  margin-top: -70px;
  max-height: 350px;
  min-height: 350px; /* Altura deseada en píxeles */
  width:auto;  
}

.Botton2 {
  background-color: #007BFF; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 6px 30px; /* Espaciado interno (ajusta según tus necesidades) */
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
  transition: transform 0.2s;
}
.button2:hover {
  background-color: #0056b3;
}

.Botton3 {
  background-color: #007BFF; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 6px 15px; /* Espaciado interno (ajusta según tus necesidades) */
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
  transition: transform 0.2s;
}
.button3:hover {
  background-color: #0056b3;
}

#descripcion-producto p {
  max-height: 110px; /* Altura máxima de la descripción antes de ocultar */
  overflow: hidden;
}

#descripcion-producto p.mostrar-todo {
  max-height: none; /* Mostrar todo el contenido cuando se hace clic en "Saber más" */
}

#boton-leer-mas {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}